= form_for [kirby, :admin, current_account], url: kirby.admin_account_path do |f|
  %header#header
    = render partial: 'kirby/admin/shared/breadcrumbs'

    #header_actions
      %button.button.button-primary{type: 'submit'}
        = icon('check')
        = t('kirby.preferences.analytics_save')

  .well
    .horizontal-form
      .horizontal-form-group
        .horizontal-form-label
          = Kirby::Account.human_attribute_name(:robots_allowed)
        .horizontal-form-content
          = f.check_box :robots_allowed, data: {switch: true}
      .horizontal-form-group
        .horizontal-form-label
          = Kirby::Account.human_attribute_name(:google_analytics)
        .horizontal-form-content
          = f.text_field :google_analytics, placeholder: Kirby::Account.human_attribute_name(:google_analytics)
      .horizontal-form-group
        .horizontal-form-label
          = Kirby::Account.human_attribute_name(:google_site_verification)
        .horizontal-form-content
          = f.text_field :google_site_verification, placeholder: Kirby::Account.human_attribute_name(:google_site_verification)
